@model GutsyPuppet.Models.WorklogsViewModel

<div class="page-header">
    <h1>Worklogs @Model.Date.ToString("dd-MM-yyyy")</h1>
</div>

@if (Model.WorklogUsers.Any())
{
    <ul class="list-group">
        @foreach (var worklogUser in Model.WorklogUsers)
        {
            <li class="list-group-item @(worklogUser.EnoughHoursLogged ? "list-group-item-success" : "list-group-item-danger")">
                <span class="badge">@worklogUser.LoggedHours.ToString("0.00")</span>
                @worklogUser.Name
            </li>
        }
    </ul>
}
else
{
    <div>
        No users
    </div>
}